:root{
  --blue: #189ae6;
  --fucsia: #b80a8c;
  --dark-fucsia: #94016f;

}

body{
  font-family: 'Oswald', sans-serif;
  background-color: #000000;
  color: #ffffff;
  width: 90%;
  margin: auto;
}

h1{
  text-align: center;
  color: var(--blue);
}

.text-blue{
  color: var(--blue);
}

#input-weight,
#input-height{
  height: 50px;
}

.div-imc{
  margin-top: 2rem;
}

#calculate{
  margin-right: 1rem;
}

#clear{
  background-color: var(--fucsia);
  border: 1px solid var(--fucsia);
}
#clear:hover{
  background-color: var(--dark-fucsia);
  border: 1px solid var(--dark-fucsia);
}