:root{
  --blue: #189ae6;

}

body{
  font-family: 'Oswald', sans-serif;
  background-color: #000000;
  color: #ffffff;
  width: 90%;
  margin: auto;
}

h1{
  text-align: center;
  color: var(--blue);
}

#input-weight,
#input-height{
  margin-bottom: 25px;
  height: 50px;
}
